<!DOCTYPE html>
<html>
<head>
    <title>Voice Quote</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo" class="logo">
        <div class="quote-box">
            <div class="quote-text"></div>
        </div>
        <button id="recordButton" class="record-button">QUOTE!</button>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html> 